.git
.cache
bin
local

output/*
!output/sandboxd
!output/sbox
!output/sandbox-logger
!output/runsc
!output/runc
!output/runc-shim
!output/oom-hog
!output/network-policy-client
!output/checkpoint-restore
!output/firecracker-agent
!output/firecracker
!output/firecracker-vmlinux
!output/firecracker-initrd.img
!output/kata/
!output/kata/**
